body {
    font-family: 'Koulen' , cursive;
    background-color: orangered;
}

.header_div
{
    background: white;
    color: yellow;
}

.header_div p {
    font-family: 'Smooch' , cursive;
    color: goldenrod;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: 'Smooch' , fantasy;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: orange;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5 px rgba(red, green, blue, alpha);
}